.work{
    &_header{
        font-family: 'CM';
        color: #ED0C76;
        margin: 50px 0;

    }
    &_img{
    width: 55px;
    height: 40px;
    border-radius: 5px;
    }
    &_card{
       &-img{
        max-width: 1100px;
        border-radius: 15px;
        border: 3px solid #e7a9be;
        margin-bottom: 15px;
       }
    }
}